.contact-form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 20px;
  background-color: #334155;
  border-radius: 10px;
  color: white;
}

.form-label {
  font-weight: 600;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.form-textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.form-button {
  padding: 10px;
  background-color: #facc15;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #eab308;
}
